<!--{% extends "base.html" %}

{%block title%}
    <title>Thanks for Applying!</title>

{% endblock %}
{% block content %}
    <h2>Your application for Seller has been received. Soon you will receive confirmation email from TechMaze!</h2>
{% endblock %}-->    

{% extends "base.html" %}

{% block title %}
    <title>Thanks for Applying!</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Thank you for Applying!</h2>
        <p class="description">Your application to become a seller has been received. You will receive a confirmation email from TechMaze soon.</p>
    </div>
{% endblock %}

<style>
    body {
        font-family: "Amatic SC", sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('https://c0.wallpaperflare.com/preview/200/623/639/access-apple-blur-connection.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .title {
        font-size: 36px;
        font-weight: bold;
        color: #0077be;
        margin-bottom: 20px;
    }

    .description {
        font-size: 24px;
        color: #333;
        line-height: 1.5;
    }
</style>